.currencySelect {
  width: 100%;
  display: flex;
  gap: 16px;
}

.currencySelect__flag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currencySelect__select {
  width: 240px;
  font-size: 12px;
}

.currencySelect__input {
  flex-grow: 1;
}
