.footer {
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #eeeeee;
  color: #aaaaaa;
  font-size: 12px;
}
